USE [master]
GO
/****** Object:  Database [QL_THUVIEN]    Script Date: 30/11/2025 1:53:02 CH ******/
CREATE DATABASE [QL_THUVIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_THUVIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_THUVIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_THUVIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_THUVIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_THUVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_THUVIEN]
GO
USE [QL_THUVIEN]
GO
/****** Object:  Sequence [dbo].[SEQ_MSDG]    Script Date: 30/11/2025 1:53:02 CH ******/
CREATE SEQUENCE [dbo].[SEQ_MSDG] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [QL_THUVIEN]
GO
/****** Object:  Sequence [dbo].[SEQ_MSNV]    Script Date: 30/11/2025 1:53:02 CH ******/
CREATE SEQUENCE [dbo].[SEQ_MSNV] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [QL_THUVIEN]
GO
/****** Object:  Sequence [dbo].[SEQ_PHIEUMUON]    Script Date: 30/11/2025 1:53:02 CH ******/
CREATE SEQUENCE [dbo].[SEQ_PHIEUMUON] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [QL_THUVIEN]
GO
/****** Object:  Sequence [dbo].[SEQ_PHIEUPHAT]    Script Date: 30/11/2025 1:53:02 CH ******/
CREATE SEQUENCE [dbo].[SEQ_PHIEUPHAT] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[BAN_SAO]    Script Date: 30/11/2025 1:53:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN_SAO](
	[MaBanSao] [varchar](15) NOT NULL,
	[MaDauSach] [varchar](10) NOT NULL,
	[TinhTrang] [nvarchar](10) NULL,
	[ViTri] [varchar](20) NULL,
 CONSTRAINT [PK_BANSAO] PRIMARY KEY CLUSTERED 
(
	[MaBanSao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_MUON]    Script Date: 30/11/2025 1:53:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_MUON](
	[SoPhieuMuon] [varchar](15) NOT NULL,
	[MaBanSao] [varchar](15) NOT NULL,
 CONSTRAINT [PK_CTM] PRIMARY KEY CLUSTERED 
(
	[SoPhieuMuon] ASC,
	[MaBanSao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAU_SACH]    Script Date: 30/11/2025 1:53:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAU_SACH](
	[MaDauSach] [varchar](10) NOT NULL,
	[TenSach] [nvarchar](200) NOT NULL,
	[MaTacGia] [varchar](10) NOT NULL,
	[MSNXB] [varchar](10) NOT NULL,
	[MaLoaiSach] [varchar](10) NOT NULL,
	[NamXB] [smallint] NULL,
	[LanXB] [int] NULL,
	[TomTat] [nvarchar](max) NULL,
 CONSTRAINT [PK_DAUSACH] PRIMARY KEY CLUSTERED 
(
	[MaDauSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOC_GIA]    Script Date: 30/11/2025 1:53:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOC_GIA](
	[MSDG] [varchar](10) NOT NULL,
	[TenDG] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[NgaySinh] [date] NULL,
	[Email] [varchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgayDangKy] [date] NOT NULL,
	[ThongTinKhac] [nvarchar](max) NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[MSDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DG_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_SACH]    Script Date: 30/11/2025 1:53:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SACH](
	[MaLoaiSach] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAISACH] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LOAISACH_Ten] UNIQUE NONCLUSTERED 
(
	[TenLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_XUAT_BAN]    Script Date: 30/11/2025 1:53:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_XUAT_BAN](
	[MSNXB] [varchar](10) NOT NULL,
	[TenNXB] [nvarchar](100) NOT NULL,
	[DiaChiNXB] [nvarchar](200) NULL,
	[WebsiteNXB] [varchar](100) NULL,
	[ThongTinKhac] [nvarchar](max) NULL,
 CONSTRAINT [PK_NHAXUATBAN] PRIMARY KEY CLUSTERED 
(
	[MSNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 30/11/2025 1:53:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MSNV] [varchar](10) NOT NULL,
	[HoTenNV] [nvarchar](100) NOT NULL,
	[DiaChiNV] [nvarchar](200) NULL,
	[NgaySinhNV] [date] NULL,
	[GioiTinhNV] [nvarchar](10) NULL,
	[DienThoaiNV] [varchar](15) NULL,
	[EmailNV] [varchar](100) NULL,
	[NgayVaoLam] [date] NOT NULL,
	[ChucVu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MSNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NV_Email] UNIQUE NONCLUSTERED 
(
	[EmailNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHAT]    Script Date: 30/11/2025 1:53:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHAT](
	[SoPhieuPhat] [varchar](15) NOT NULL,
	[SoPhieuMuon] [varchar](15) NOT NULL,
	[MaBanSao] [varchar](15) NOT NULL,
	[MSNV] [varchar](10) NOT NULL,
	[NgayPhat] [date] NOT NULL,
	[LyDoPhat] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_PHAT] PRIMARY KEY CLUSTERED 
(
	[SoPhieuPhat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_MUON]    Script Date: 30/11/2025 1:53:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_MUON](
	[SoPhieuMuon] [varchar](15) NOT NULL,
	[MSDG] [varchar](10) NOT NULL,
	[MSNV] [varchar](10) NOT NULL,
	[NgayMuon] [date] NOT NULL,
	[HanTra] [date] NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
 CONSTRAINT [PK_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[SoPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAC_GIA]    Script Date: 30/11/2025 1:53:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAC_GIA](
	[MaTacGia] [varchar](10) NOT NULL,
	[TenTacGia] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MaTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRA_SACH]    Script Date: 30/11/2025 1:53:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRA_SACH](
	[SoPhieuMuon] [varchar](15) NOT NULL,
	[MaBanSao] [varchar](15) NOT NULL,
	[MSNV] [varchar](10) NOT NULL,
	[NgayTra] [date] NOT NULL,
 CONSTRAINT [PK_TRASACH] PRIMARY KEY CLUSTERED 
(
	[SoPhieuMuon] ASC,
	[MaBanSao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BS_DauSach]    Script Date: 30/11/2025 1:53:02 CH ******/
CREATE NONCLUSTERED INDEX [IX_BS_DauSach] ON [dbo].[BAN_SAO]
(
	[MaDauSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DS_Ten]    Script Date: 30/11/2025 1:53:02 CH ******/
CREATE NONCLUSTERED INDEX [IX_DS_Ten] ON [dbo].[DAU_SACH]
(
	[TenSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DG_Ten]    Script Date: 30/11/2025 1:53:02 CH ******/
CREATE NONCLUSTERED INDEX [IX_DG_Ten] ON [dbo].[DOC_GIA]
(
	[TenDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PHAT_Ngay]    Script Date: 30/11/2025 1:53:02 CH ******/
CREATE NONCLUSTERED INDEX [IX_PHAT_Ngay] ON [dbo].[PHAT]
(
	[NgayPhat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PM_NgayMuon]    Script Date: 30/11/2025 1:53:02 CH ******/
CREATE NONCLUSTERED INDEX [IX_PM_NgayMuon] ON [dbo].[PHIEU_MUON]
(
	[NgayMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAN_SAO] ADD  CONSTRAINT [DF_BS_TrangThai]  DEFAULT ('co san') FOR [TinhTrang]
GO
ALTER TABLE [dbo].[DAU_SACH] ADD  CONSTRAINT [DF_DAUSACH_LanXB]  DEFAULT ((1)) FOR [LanXB]
GO
ALTER TABLE [dbo].[DOC_GIA] ADD  CONSTRAINT [DF_MSDG]  DEFAULT ('DG'+right('000'+CONVERT([varchar](3),NEXT VALUE FOR [SEQ_MSDG]),(3))) FOR [MSDG]
GO
ALTER TABLE [dbo].[DOC_GIA] ADD  CONSTRAINT [DF_DG_GioiTinh]  DEFAULT (N'Khac') FOR [GioiTinh]
GO
ALTER TABLE [dbo].[DOC_GIA] ADD  CONSTRAINT [DF_DG_NgayDK]  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [DF_MSNV]  DEFAULT ('NV'+right('000'+CONVERT([varchar](3),NEXT VALUE FOR [SEQ_MSNV]),(3))) FOR [MSNV]
GO
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [DF_NV_GioiTinh]  DEFAULT (N'Khac') FOR [GioiTinhNV]
GO
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [DF_NV_ChucVu]  DEFAULT (N'Thu thu') FOR [ChucVu]
GO
ALTER TABLE [dbo].[PHAT] ADD  CONSTRAINT [DF_SoPhieuPhat]  DEFAULT (('PP'+format(getdate(),'yyMM'))+right('000'+CONVERT([varchar](3),NEXT VALUE FOR [SEQ_PHIEUPHAT]),(3))) FOR [SoPhieuPhat]
GO
ALTER TABLE [dbo].[PHAT] ADD  CONSTRAINT [DF_PHAT_NgayPhat]  DEFAULT (getdate()) FOR [NgayPhat]
GO
ALTER TABLE [dbo].[PHIEU_MUON] ADD  CONSTRAINT [DF_SoPhieuMuon]  DEFAULT (('PM'+format(getdate(),'yyMM'))+right('000'+CONVERT([varchar](3),NEXT VALUE FOR [SEQ_PHIEUMUON]),(3))) FOR [SoPhieuMuon]
GO
ALTER TABLE [dbo].[PHIEU_MUON] ADD  CONSTRAINT [DF_PM_NgayMuon]  DEFAULT (getdate()) FOR [NgayMuon]
GO
ALTER TABLE [dbo].[PHIEU_MUON] ADD  CONSTRAINT [DF_PM_TrangThai]  DEFAULT (N'Dang muon') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TRA_SACH] ADD  CONSTRAINT [DF_TS_NgayTra]  DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[BAN_SAO]  WITH CHECK ADD  CONSTRAINT [FK_BS_DS] FOREIGN KEY([MaDauSach])
REFERENCES [dbo].[DAU_SACH] ([MaDauSach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BAN_SAO] CHECK CONSTRAINT [FK_BS_DS]
GO
ALTER TABLE [dbo].[CHI_TIET_MUON]  WITH CHECK ADD  CONSTRAINT [FK_CTM_BS] FOREIGN KEY([MaBanSao])
REFERENCES [dbo].[BAN_SAO] ([MaBanSao])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_MUON] CHECK CONSTRAINT [FK_CTM_BS]
GO
ALTER TABLE [dbo].[CHI_TIET_MUON]  WITH CHECK ADD  CONSTRAINT [FK_CTM_PM] FOREIGN KEY([SoPhieuMuon])
REFERENCES [dbo].[PHIEU_MUON] ([SoPhieuMuon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_MUON] CHECK CONSTRAINT [FK_CTM_PM]
GO
ALTER TABLE [dbo].[DAU_SACH]  WITH CHECK ADD  CONSTRAINT [FK_DS_LOAISACH] FOREIGN KEY([MaLoaiSach])
REFERENCES [dbo].[LOAI_SACH] ([MaLoaiSach])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DAU_SACH] CHECK CONSTRAINT [FK_DS_LOAISACH]
GO
ALTER TABLE [dbo].[DAU_SACH]  WITH CHECK ADD  CONSTRAINT [FK_DS_NXB] FOREIGN KEY([MSNXB])
REFERENCES [dbo].[NHA_XUAT_BAN] ([MSNXB])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DAU_SACH] CHECK CONSTRAINT [FK_DS_NXB]
GO
ALTER TABLE [dbo].[DAU_SACH]  WITH CHECK ADD  CONSTRAINT [FK_MaTacGia] FOREIGN KEY([MaTacGia])
REFERENCES [dbo].[TAC_GIA] ([MaTacGia])
GO
ALTER TABLE [dbo].[DAU_SACH] CHECK CONSTRAINT [FK_MaTacGia]
GO
ALTER TABLE [dbo].[PHAT]  WITH CHECK ADD  CONSTRAINT [FK_PHAT_CTM] FOREIGN KEY([SoPhieuMuon], [MaBanSao])
REFERENCES [dbo].[CHI_TIET_MUON] ([SoPhieuMuon], [MaBanSao])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHAT] CHECK CONSTRAINT [FK_PHAT_CTM]
GO
ALTER TABLE [dbo].[PHAT]  WITH CHECK ADD  CONSTRAINT [FK_PHAT_NV] FOREIGN KEY([MSNV])
REFERENCES [dbo].[NHAN_VIEN] ([MSNV])
GO
ALTER TABLE [dbo].[PHAT] CHECK CONSTRAINT [FK_PHAT_NV]
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [FK_PM_DG] FOREIGN KEY([MSDG])
REFERENCES [dbo].[DOC_GIA] ([MSDG])
GO
ALTER TABLE [dbo].[PHIEU_MUON] CHECK CONSTRAINT [FK_PM_DG]
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [FK_PM_NV] FOREIGN KEY([MSNV])
REFERENCES [dbo].[NHAN_VIEN] ([MSNV])
GO
ALTER TABLE [dbo].[PHIEU_MUON] CHECK CONSTRAINT [FK_PM_NV]
GO
ALTER TABLE [dbo].[TRA_SACH]  WITH CHECK ADD  CONSTRAINT [FK_TS_CTM] FOREIGN KEY([SoPhieuMuon], [MaBanSao])
REFERENCES [dbo].[CHI_TIET_MUON] ([SoPhieuMuon], [MaBanSao])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRA_SACH] CHECK CONSTRAINT [FK_TS_CTM]
GO
ALTER TABLE [dbo].[TRA_SACH]  WITH CHECK ADD  CONSTRAINT [FK_TS_NV] FOREIGN KEY([MSNV])
REFERENCES [dbo].[NHAN_VIEN] ([MSNV])
GO
ALTER TABLE [dbo].[TRA_SACH] CHECK CONSTRAINT [FK_TS_NV]
GO
ALTER TABLE [dbo].[BAN_SAO]  WITH CHECK ADD  CONSTRAINT [CHK_BS_TrangThai] CHECK  (([TinhTrang]='dang muon' OR [TinhTrang]='co san'))
GO
ALTER TABLE [dbo].[BAN_SAO] CHECK CONSTRAINT [CHK_BS_TrangThai]
GO
ALTER TABLE [dbo].[DAU_SACH]  WITH CHECK ADD  CONSTRAINT [CHK_NamXB] CHECK  (([NamXB]>=(1900) AND [NamXB]<=(datepart(year,getdate())+(5))))
GO
ALTER TABLE [dbo].[DAU_SACH] CHECK CONSTRAINT [CHK_NamXB]
GO
ALTER TABLE [dbo].[DOC_GIA]  WITH CHECK ADD  CONSTRAINT [CHK_DG_GioiTinh] CHECK  (([GioiTinh]=N'Khac' OR [GioiTinh]=N'Nu' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[DOC_GIA] CHECK CONSTRAINT [CHK_DG_GioiTinh]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [CHK_NV_GioiTinh] CHECK  (([GioiTinhNV]=N'Khac' OR [GioiTinhNV]=N'Nu' OR [GioiTinhNV]=N'Nam'))
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [CHK_NV_GioiTinh]
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [CHK_HanTra] CHECK  (([HanTra]>[NgayMuon]))
GO
ALTER TABLE [dbo].[PHIEU_MUON] CHECK CONSTRAINT [CHK_HanTra]
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [CHK_PM_TrangThai] CHECK  (([TrangThai]=N'Bi phat' OR [TrangThai]=N'Qua han' OR [TrangThai]=N'Da tra' OR [TrangThai]=N'Dang muon'))
GO
ALTER TABLE [dbo].[PHIEU_MUON] CHECK CONSTRAINT [CHK_PM_TrangThai]
GO
USE [master]
GO
